*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background-color: #0e0e0e;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 350px;
}
p {
  color: #fff;
  span {
    filter: opacity(60%);
  }
}
a {
  text-decoration: none;
  &:link {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
ul {
  li {
    list-style-type: none;
  }
}

button {
  background-color: rgb(61, 61, 61);
  border: transparent;
  padding: 10px;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
  outline: double 10px transparent;
  box-shadow: 5px 5px 10px #00000075;
  &:hover {
    outline: 2px solid #fff;
  }
}

// Main classes
.cont-bg {
  padding: 20px;
  background-color: #00000028;
  border-radius: 25px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}

.align {
  justify-content: center;
  align-items: center;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.top {
  margin-bottom: auto;
}

.bottom {
  margin-top: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.icon {
  width: 45px;
  height: 45px;
}
