@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  background-color: rgb(14, 14, 14);
}
p {
  color: #fff;
  span {
    filter: opacity(60%);
  }
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}

.align {
  justify-content: center;
  align-items: center;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.top {
  margin-bottom: auto;
}

.bottom {
  margin-top: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.icon {
  width: 45px;
  height: 45px;
}
